# This file sets up the host EC2 instant to allow ssh access to those in a preconfigured group of IAM users (As of this
# writing the group is 'admin').  It also sets up the ec2-user authorized_keys to include everyone's public ssh keys in
# that same group.
# This is sourced from the https://dev.azure.com/burstingsilver/UniteHere/_git/UniteHereOperations repository
# Last version: 15bde6f1719b22fa9c954972d950da0b30b91fc6 (tags/authorized-keys-command/v1.0.0) on May 5th, 2020
#    | Modified the 08-restart-ssh to use systemd method of process management to restart sshd
Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["jenkins-config.unitehere.org"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

commands:
  00-clean-previous:
    command: rm -rf /opt/authorized-keys-command*
  01-download:
    command: aws s3 cp s3://jenkins-config.unitehere.org/authorized-keys-command/authorized-keys-command.zip /opt/authorized-keys-command.zip
  02-unpack:
    command: unzip -d /opt /opt/authorized-keys-command.zip
  03-setperms:
    command: chmod 555 /opt/authorized-keys-command/*.sh /opt/authorized-keys-command/*.py
  04-setupcron:
    command: |
      echo '*/10 * * * * root /opt/authorized-keys-command/import_users.py' > /etc/cron.d/import_users
  05-changeperm:
    command: chmod 644 /etc/cron.d/import_users
  06-setupcron:
      command: /opt/authorized-keys-command/import_users.py
  07-installsshdconfig-AuthorizedKeysCommand:
    command: "sed -i 's:#\\?AuthorizedKeysCommand .*:AuthorizedKeysCommand /opt/authorized-keys-command/authorized_keys_command.sh:g' /etc/ssh/sshd_config"
  08-installsshdconfig-AuthorizedKeysCommandUser:
    command: "sed -i 's:#\\?AuthorizedKeysCommandUser .*:AuthorizedKeysCommandUser nobody:g' /etc/ssh/sshd_config"
  09-restart-sshd:
    command: "service sshd restart || systemctl restart sshd"
