development:
  driver: mysql
  open: root:root@tcp(localhost:3306)/fpe?parseTime=true
  # username:password@tcp(host:port)/database

production:
  driver: mysql
  open: root:root@tcp(example.com:3306)/fpe?parseTime=true
